.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  user-select: none;
}

.aboutTop {
  width: 100vw;
  height: 80dvh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img1 {
  max-height: 75dvh;
  object-position: center;
  width: 100%;
  object-fit: cover;
}

.aboutTop h1 {
  color: white;
  font-size: clamp(4rem, 5vw, 7rem);
  position: absolute;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2.5rem 1.5rem;
  gap: 1.5rem;
}

.textContainer {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.textContainer h4 {
  font-size: (1.275rem + 0.3vw);
}

@media screen and (min-width: 768px) {
  .container {
    padding: 1.5rem 5rem;
    gap: 1.5rem;
  }
}

@media screen and (min-width: 992px) {
  .container {
    padding: 1rem 5rem;
    gap: 2rem;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
    padding: 1rem 6rem;
  }
}
