.slideContentContainer {
  position: absolute;
  bottom: 0%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: hsla(48, 42%, 95%, 0.4);
  width: 100%;
}
.imageTest {
  object-position: top;
}
.slideContentContainer > h3 {
  font-weight: 900;
  font-size: 2rem;
  letter-spacing: 2px;
  white-space: wrap;
}
.slideContentContainer > p {
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.7;
  white-space: wrap;
}
.buttonLink {
  width: fit-content;
  background-color: white;
  padding: 1rem 2rem;
  border: none;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 2px;
  margin-bottom: 25px;
}
.buttonLink:hover {
  color: white;
  background-color: black;
}

@media screen and (min-width: 920px) {
  .slideContentContainer {
    background-color: transparent;
    width: fit-content;
    top: 30%;
    left: 6rem;
    gap: 1.5rem;
    bottom: unset;
    background-color: hsla(48, 42%, 95%, 0.4);
    border-radius: 15px;
  }
  .slideContentContainer > h3 {
    font-weight: 900;
    font-size: 2rem;
    letter-spacing: 2px;
  }

  .buttonLink {
    margin-bottom: 0;
  }
}
