.buttonContainer {
  display: flex;
  justify-content: center;
}

.buttonLarge {
  background-color: transparent;
  font-size: larger;
  font-weight: 700;
  padding: 10px 30px;
  border: 2px solid black;
  width: fit-content;
  justify-self: center;
  margin-bottom: 40px;
}
.buttonLarge:hover {
  background-color: black;
  color: white;
  border: 2px solid white;
}
